[Unit]
Description=Desktop and lockscreen wallpapers from wallcat everyday

[Service]
Type=oneshot
StandardOutput=journal
ExecStartPre=/bin/sleep 30
ExecStart=python3 %h/services/wallcatd/wallcatd.py

[Install]
WantedBy=default.target
